@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.gradient-text {
  background-image: linear-gradient(
    270deg,
    #290dd2 0%,
    #6a4dff 31.46%,
    #fa84f6 65.88%,
    #fd6a00 100%
  );
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.typing-cursor {
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.webkit-scrollbar::-webkit-scrollbar {
  display: none;
}

.webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
